@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --foretitle-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000;;
  font-family: var(--font-redHatDisplay);
}

h2 {
  color: rgb(var(--foretitle-rgb));
}

.sectitleWhite {
  color: rgb(var(--foreground-rgb));
}

h1,
h2,
h3,
h4,
.urbanist {
  font-family: var(--font-urbanist);
}

.cousine {
  font-family: var(--font-cousine);
}

.offerGradient {
  background: linear-gradient(to bottom, #f5ecf6 100%, #f5f3f5 0%);
}
.tosGradient {
  background: linear-gradient(180deg, rgba(211, 160, 252, 0) 0%, #F7EEFF 100%);
}
.privacyCard{
  background: linear-gradient(90deg, #4E415F 7.29%, #17151A 62.38%);
}

.purple {
  color: #8247e4;
}

.bg-purple {
  background-color: #8247e4;
}

.text-primary-pink-1 {
  color: #e60479;
}

.bg-primary-pink {
  background-color: #e60479 !important;
}

.container {
  max-width: 1600px;
}

.linear-pricing {
  background: var(--grad2, linear-gradient(180deg, #F6EAFF 0%, #FFF 70.31%));
/* shadow card */
box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15); 
}

.liniar-proxy {
  background: linear-gradient(90deg,
      #4e415f 0.42%,
      #171a1f 45.5%,
      #171a1f 99.71%);
}

.liniar-partnar {
  background: linear-gradient(123deg,
      rgba(4, 52, 172, 0.2) 7.39%,
      rgba(0, 0, 0, 0) 28.9%),
    linear-gradient(83deg,
      rgba(230, 4, 121, 0.2) -1.28%,
      rgba(0, 0, 0, 0) 20.27%),
    linear-gradient(211deg,
      rgba(130, 71, 228, 0.2) 12.56%,
      rgba(0, 0, 0, 0) 61%),
    linear-gradient(90deg, #000 0%, #1e1d1e 100%);
}

.linear-partnerCard {
  background: linear-gradient(90deg, #ffb79a 20%, #d9d9d9 0%, #ffffff);
}

.subsCription-liniar {
  background: linear-gradient(270deg, #0434ac 0%, #8247e4 100%);
}

.choose-linear {
  background: linear-gradient(180deg, rgba(239, 219, 255, 0.00) 0%, #EFDBFF 100%);
}

.count-mobile-liniar {
  border-radius: 25px;
  background: linear-gradient(0deg, #E60479 0%, #8247E4 100%);
}

@media(min-width: 1024px) {
  .count-liniar {
    background: linear-gradient(270deg, #e60479 0%, #8247e4 100%);
  }

  .get-period {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
}

.accordionExpand {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 26.5%, #FFF 100%);

}

.accordionExpand .content {
  border-color: rgba(211, 160, 252, 0.3);
  border-width: 0 1px 2px;
  border-radius: 0 0 40px 40px;
}


.partnar-liniar {
  background: linear-gradient(234deg, rgba(255, 183, 154, 0.20) 0%, rgba(217, 217, 217, 0.00) 54.69%);
}

.textWhite {
  color: rgb(var(--foreground-rgb));
}

.partnarCard {
  min-height: 308px;
}

.slick-dots {
  bottom: -70px !important;
}

.slick-dots li button {
  height: 10px !important;
  width: 10px !important;
  background: #D9D9D9 !important;
  opacity: 0.3;
  border-radius: 50%;
}

.slick-dots li button.active {
  opacity: 1;
}

.mobileMenuWrap {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, rgba(130, 71, 228, 0.10) 100%), var(--Black, #0C0B0C);
}
.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-slide > div {
  width: 100%; /* Ensure slides take up full width */ /* Ensure slides take up full height */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-linear-gradiant{
  background: linear-gradient(234deg, rgba(255, 183, 154, 0.20) 0%, rgba(217, 217, 217, 0.00) 54.69%);
  box-shadow: 6px 6px 44.6px 14px rgba(0, 0, 0, 0.12); 
}
.font-feature-settings{
  font-feature-settings: 'clig' off, 'liga' off !important; 
}

.prezzo-linear{
  background: linear-gradient(0deg, #F6EAFF 0%, #FFF 70.31%);
}

.svg-shadow{
  fill: linear-gradient(0deg, #000 -0.01%, rgba(0, 0, 0, 0.00) 100%);
}
.icon {
  /* gradient and fallback color */
  fill: url(#my-gradient) #000;
}

.proxy-linear{
  background: linear-gradient(90deg, #4E415F 0.42%, #171A1F 45.5%, #171A1F 99.71%); 
}

.offer-linear{
  background: var(--light-purple, linear-gradient(104deg, #F5ECF6 0%, rgba(245, 243, 245, 0.00) 70.35%));
}

.funziona-linear-gradient{
  background: linear-gradient(180deg, #F7EDFF 0%, #FFF 34.76%);
}

.funziona-linear-gradient-wrapper{
  border-radius: 40px;
  background: linear-gradient(180deg, #F4E7FF 0%, rgba(255, 255, 255, 0.00) 100%);

  /* shadow card */
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
}

.guide-linear-gradient{
  background: linear-gradient(270deg, #000 5.73%, rgba(0, 0, 0, 0.63) 57.81%, rgba(0, 0, 0, 0.00) 100%); 
}

.genProxy-checklist-linear-gradient-purple{
  border-radius: 40px;
background: linear-gradient(133deg, #8247E4 0%, rgba(130, 71, 228, 0.00) 100%);

/* shadow card */
box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
}

.genProxy-checklist-linear-gradient-red{
  border-radius: 40px;
  background: linear-gradient(227deg, #E60479 0%, rgba(230, 4, 121, 0.00) 100%);
  
  /* shadow card */
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
}

.checklist-wrapper-linear-gradient{
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
}

.home-hero-linear-gradient{
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 60.02%);
}

.checklist-blend-gradient{
  opacity: 0.85;
  background: #000;
  mix-blend-mode: multiply;
}

.joinus-linear-gradient{
  background: linear-gradient(90deg, #e60479 0%, #8247e4 100%);
}

.home-linear-gradient{
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 60.02%);
}

.title-shadow{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--White, #FFF); 
  -webkit-text-fill-color: transparent;
}

.svg-wrapper {
  opacity: 0.15;
  filter: blur(9px);
}

.header-linear-gradient{
  background: linear-gradient(180deg, #0C0B0C 0%, rgba(12, 11, 12, 0) 85.94%); 
}

.header-linear-gradient:hover {
  background-color: #0C0B0C;
}

@keyframes FadeInDown {
  0% {
      transform: translateY(-100px);
    }
  100% {
      transform: translateY(0);
    }
}

.fadeInAnimation{
  animation-name: FadeInDown;
  animation-timing-function: ease;
  animation-duration: 1s;
}


@media screen and (max-width: 767px) {
  .privacyCard {
    background: linear-gradient(180deg, #4E415F 7.29%, #17151A 45.96%);
  }
  .header-linear-gradient{
    background: #0C0B0C; 
  }
  .joinus-linear-gradient{
    background: linear-gradient(104deg, #E60479 0%, #0434AC 100%);
  }
  .offer-linear{
    background: var(--light-purple, linear-gradient(104deg, #F5ECF6 0%, rgba(245, 243, 245, 0.00) 70.35%)); 
  }
  .funziona-linear-gradient-wrapper{
    border-radius: 40px;
    background: linear-gradient(180deg, #F4E7FF 0%, rgba(255, 255, 255, 0.00) 100%);
    /* shadow card */
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
  }
  .guide-linear-gradient{
    background: linear-gradient(0deg, #000 3.57%, rgba(0, 0, 0, 0.63) 36.06%, rgba(0, 0, 0, 0.00) 62.38%);
  }
  .prezzo-linear{
    background: linear-gradient(0deg, #F6EAFF 0%, #FFF 70.31%);
  }
  .linear-pricing {
    background: var(--grad2, linear-gradient(180deg, #F6EAFF 0%, #FFF 70.31%));
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
  }
  .proxy-linear{
    background: linear-gradient(181deg, #4E415F 0%, #171A1F 44.68%, #171A1F 98.42%);
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
  }
}

